/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family:"DynaPuff" ;
    src: url(../fonts/DynaPuff-Regular.ttf);
}

/* Diseño Fondo */
body{
    background-image: url(../assets/img/hand-painted-watercolor-background-with-sky-and-clouds-shape.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

/* Diseño Menú */
.menu{
    font-family: Poppins;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

a{
    text-decoration: none;
}

.contenedorMenu{
    text-decoration: none;
    background-color: rgb(236, 245, 248);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; 
    width: 100%;
    height: 4em;
    margin: .5em;    
}


.imagenLogo{
    height: 4em;
}

/* Index */

/* Título */
.TituloPpal{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    align-items: center;
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    align-items: center;
    font-family: DynaPuff;
    font-size: 5em;
    color: rgb(242, 151, 118);
    margin-right: 10%;
}

.imagenTitulo{
    margin-right: 10%;

}

/* Section */

.Inicio{
    font-family: Poppins;
    margin: 10%;
}

.h2index{
    color: coral;
    font-size: 2em;
    text-align: center;
}

.parrafoFinal{
    margin-top: 4%;
}

.finalPagina{
    font-family: Poppins;
    font-size: 1.5em;
}

.Hilados{
    font-family: Poppins;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.lista2{
    margin: 10%;
    text-decoration:dotted;

}

.parrafoFinal{
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Video */

.youTube{
    font-family: DynaPuff;
    margin: 10%;
    font-size: 1.5em;
}


.parrafoYouTube{
    margin: 10%;
    color: coral;
    font-weight: bold;
}

#botonYT{
    font-family: Poppins;
    background-color: rgb(240, 71, 71);
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 10%;
    margin-left: 30%;
    margin-top: 100%;
}

/* Pie de Página */

.pieDePagina{
    font-family: Poppins;
    text-decoration: none;
    list-style-type: none;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    align-self: flex-end;
    margin: 1%;

}

.rrss{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; 
    width: 100%;
    height: 4rem; 
    margin: 0;

}

.copyright{
    font-size: 1em;
    color: coral;
}

@media(max-width:320px){
    .rrss{
        height: 6rem;
    }
    .contenedorMenu{
        width: 100%;
        height: 5em;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "logo logo logo logo logo"
            "Home Materiales Puntos Diseñadoras Contacto";
    }
    .imagenLogo{
        grid-area: logo;
        grid-column: 3; 
        height: 3rem;    
    }
    li{
        justify-self: center;  
    }
    .liHome{
        grid-area: Home;
    }
    .liMateriales{
        grid-area: Materiales;
    }
    .liPuntos{
        grid-area: Puntos;
    }
    .liDiseñadoras{
        grid-area: Diseñadoras;
    }
    .liContacto{
        grid-area: Contacto;
    }
    .TituloPpal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imagen titulo";
    }
    .titulo{
        grid-area: titulo;
        font-size: 3rem;
        margin-right: 50%;
        
    }
    .imagenTitulo{
        grid-area: imagen;
    }
    .finalPagina{
        padding: 10%;
    }
}

/* Materiales */

.imagenMateriales{
    width: 100%;
    height: 60%;
    display: flex;
    align-self: start;
    overflow:hidden;

}

.headermateriales{
    font-family: DynaPuff;
    font-size: 4em;
    color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:min-content;
}

.MaterialesyHerramientas{
    margin-top: 5%;
    font-size: 40px;
}

.descripcionMateriales{
    font-family: Poppins;
    margin: 10%;
    margin-top: 1%;
}

.ListaDeMateriales{
    font-family: Poppins;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.fotoMarcadores {
    height: 17em;
}

.Materiales{
    font-size: 1.5em;
    color: rgb(224, 84, 33);
}


/* Puntos */



.mainPuntos{
    font-family: Poppins;
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.h3puntos{
    font-size: 1.5em;
    color: rgb(224, 84, 33);
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
}

.ImagenesPuntos{
    padding: 10%;
}

.puntoEnano{
    height: 10em;
    padding-top: 10%;
}

.nudoCorredizo{
    height: 10em;
    padding-top: 10%;
}

.medioPunto{
    height: 10em;
    padding-top: 20%;
}


/* Diseñadoras */

.ImagenHeader{
    width: 100%;
    height: 80%;
}

.tituloDiseñadoras{
    margin-top: 5%;
    font-size: 40px;    
    font-family: DynaPuff;
    color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:min-content;
}

.mainDiseñadoras{
    font-family: Poppins;
    padding: 5%;
}

.nombres{
    font-size: 1.5em;
    color: rgb(224, 84, 33);
}

.parrafosdiseñadoras{
    padding: 1%;
}

.instagramDiseñadoras{
    margin: 80%;
}



/* Contacto */

.ImagenContacto{
    width: 80%;
    margin-left: 10%;
}

.formulario{
    background: rgba(255,255,255,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    margin-bottom: 30%;
    margin-top: 20%;
    padding: 10px 35px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.h1contacto{
    font-family: DynaPuff;
    color: coral;
    font-size: 2em;
    text-align: center;
}

.labelformulario{
    display: block;
    color: coral;
    font-size: 1em;
    font-family: Poppins;
    position: relative;
}

.inputformulario{
    background: rgba(255,255,255,.8);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 1em;
    font-family: Poppins;
}
.inputmensaje{
    background: rgba(255,255,255,.8);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 1em;
    font-family: Poppins;
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.boton{
    width: 100%;
    font-family: Poppins;
    outline: none;
    background: coral;
    font-size: 1em;
    border: none;
    color: aliceblue;
    padding: 15px 0;
    cursor:pointer;
}