* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "DynaPuff";
  src: url(../fonts/DynaPuff-Regular.ttf);
}
.contenedor {
  background: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: none;
  align-items: none;
  overflow-x: hidden;
}

.TituloPpal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.TituloPpal h1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: DynaPuff;
  font-size: 5em;
  color: rgb(242, 151, 118);
  margin-right: 10%;
}
.TituloPpal h1:hover {
  transform: scale(0.6);
  transition: 2s;
}

.Inicio section {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10%;
}
.Inicio section h2 {
  color: coral;
  font-size: 2em;
  text-align: center;
}

.finalPagina {
  font-family: Poppins;
  font-size: 1.5em;
}
.finalPagina p {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Hilados {
  font-family: Poppins;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.Hilados ul {
  text-decoration: dotted;
}

.youTube {
  font-family: Poppins;
  margin: 10%;
  font-size: 1.5em;
  animation: mover 4s infinite;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.youTube p {
  font-weight: bold;
}
.youTube a {
  font-family: Poppins;
  background-color: rgba(0, 0, 255, 0.264);
  color: white;
  text-decoration: none;
  padding: 1%;
  border-radius: 10%;
}

@keyframes mover {
  0% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
.header {
  font-family: DynaPuff;
  font-size: 5em;
  color: coral;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: min-content;
}
.header img {
  width: 100%;
  height: 60%;
  display: flex;
  align-self: start;
  overflow: hidden;
}
.header h1 {
  margin-top: 5%;
  font-size: 40px;
}

.MainMateriales section {
  font-family: Poppins;
  margin: 10%;
  margin-top: 1%;
}
.MainMateriales h3 {
  font-size: 1.5em;
  color: rgb(224, 84, 33);
}
.MainMateriales img {
  margin-left: 20%;
}

.fotoMarcadores {
  height: 17em;
}

.mainPuntos {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
}
.mainPuntos h3 {
  font-size: 1.5em;
  color: rgb(224, 84, 33);
  padding-bottom: 5%;
  padding-top: 5%;
}
.mainPuntos img {
  height: 10rem;
}

.mainDisenadoras {
  font-family: Poppins;
  padding: 5%;
}
.mainDisenadoras h2 {
  font-size: 1.5em;
  color: rgb(224, 84, 33);
}
.mainDisenadoras p {
  padding: 1%;
}
.mainDisenadoras a {
  margin-left: 80%;
}

.ImagenContacto {
  width: 80%;
  margin-left: 10%;
}

.formulario {
  background: rgba(255, 255, 255, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  margin-bottom: 30%;
  margin-top: 20%;
  padding: 10px 35px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.formulario h1 {
  font-family: DynaPuff;
  color: coral;
  font-size: 2em;
  text-align: center;
}
.formulario label {
  display: block;
  color: coral;
  font-size: 1em;
  font-family: Poppins;
  position: relative;
}

.inputFormulario, .inputmensaje {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 1em;
  font-family: Poppins;
}

.inputmensaje {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.boton {
  width: 100%;
  font-family: Poppins;
  outline: none;
  background: coral;
  font-size: 1em;
  border: none;
  color: aliceblue;
  padding: 15px 0;
  cursor: pointer;
}

.pieDePagina {
  font-family: Poppins;
  background-color: rgb(236, 245, 248);
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
  left: 0;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  height: 4rem;
  margin: 0;
}

.copyright {
  font-size: 1em;
  color: coral;
}

.menubs {
  background-color: rgb(236, 245, 248);
  font-family: Poppins;
  font-size: 1.3em;
}
.menubs a {
  text-decoration: none;
}

.imagenLogo {
  height: 4em;
}

@media (max-width: 576px) {
  .TituloPpal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen titulo";
    padding: 5%;
  }
  .TituloPpal h1 {
    color: 0;
    grid-area: titulo;
    font-size: 2rem;
  }
  .TituloPpal img {
    grid-area: imagen;
    height: 12rem;
  }
  .Inicio section h2 {
    font-size: 1.5rem;
  }
  .Inicio div {
    margin: 10%;
  }
  .Inicio div p {
    font-size: 1rem;
  }
  .Inicio article {
    font-size: 1rem;
  }
  .Hilados ul {
    font-size: 1rem;
  }
  .Hilados img {
    height: 10rem;
  }
  .header h1 {
    font-size: 1.4rem;
  }
  .MainMateriales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .MainMateriales section div img {
    height: 8rem;
    margin: 10%;
  }
  .mainDisenadoras {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
