@media (max-width:576px){
    .TituloPpal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imagen titulo";
        padding: 5%;
        h1{
            color: blue($color: #000000);
            grid-area: titulo;
            font-size: 2rem; 
        }
        img{
            grid-area: imagen;
            height: 12rem;
        }
    }
    .Inicio{
        section{
            h2{
                font-size: 1.5rem;
            }
        }
        div{
            margin: 10%;
            p{
                font-size: 1rem;
            }
        }
        article{
            font-size: 1rem;
        }
    }
    .Hilados{
        ul{
            font-size: 1rem;
        }
        img{
            height: 10rem;
        }
    }
    .header{
        h1{
            font-size: 1.4rem;
        }
    }
    .MainMateriales{
        @include propiedades-flex (column,space-evenly,center);
        section{
            div{
                img{
                    height: 8rem;
                    margin: 10%;
                }
            }
        }
    }
    .mainDisenadoras{
        font-size: 0.8rem;
    }



}
