.h1{
    font-family: $fuente-titulos;
    font-size: 5em;
    color: coral;
    @include propiedades-flex (column, space-evenly, center);
        height:min-content;
    img{
        width: 100%;
        height: 60%;
        display: flex;
        align-self: start;
        overflow:hidden;
    }
    h1{
        margin: 5%;
        font-size: 40px;
    }
}

