
.mainDisenadoras{
    font-family: $fuente-textos;
    padding: 5%;
    h2{
        font-size: 1.5em;
        color: rgb(224, 84, 33);
    }
    p{
        padding: 1%;
    }
    a{
        margin-left: 80%;
    }
}
