.MainMateriales{
    section{
        font-family: $fuente-textos;
        margin: 10%;
        margin-top: 1%;
    }
    h3{
        font-size: 1.5em;
        color: rgb(224, 84, 33);
    }
}

.fotoMateriales{
    margin-left: 20%;
}

.fotoMarcadores {
    margin-left: 20%;
    height: 17em;
}